
<div class="container">
  <div class="row">
  <div class="col-xs-12 col-md-6">
    <ol>
      <%= render "professional_owner_card",  professional: @professional  %>
    </ol>
  </div>

  </div>
  <div class="row">
  <div class="col-xs-12 col-md-6">
    <ol>
    <%= render 'professionals/new_booking_form', professional: @professional, booking: @booking %>

    </ol>
  </div>

  </div>
</div>
