// Specific CSS for your home-page

.cta-img {
  background-size: cover;
  background-position: 40% 10%;
  height: 400px;
}

.about-us {
  h2 {
    font-size: 50px;
    margin-bottom: 20px;
    border-bottom: 3px solid;
  }
  p {
    font-size: 20px;
  }
}

.about-us-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}
