.container-search{
  padding-top: 100px;
  width: 70%;
  margin: 0 auto;
}

//cards for searches
.card-search {
  overflow: hidden;
  height: 140px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  border-right: 7px solid green;
  border-radius: 5px;

}

.card-search-career {
  overflow: hidden;
  height: 140px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  border-right: 7px solid red;
  border-radius: 5px;

}

.card-search-category {
  overflow: hidden;
  height: 140px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  border-right: 7px solid yellow;
  border-radius: 5px;

}


.search-img {
  height: 100%;
  width: 140px;
  object-fit: cover;
}

.career-search-header h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;

}
.career-search-header  p {
    opacity: 0.9;
  }

 .card-search p {
  opacity: 0.9;
}

.card-search .card-search-infos {
}

.career-description-search {
  padding: 10px 25px;
}

.category-title {

}
