<div class="container">
<h2 class="category-title">Professionals in <strong> <%= Career.find(params[:id]).title %> </strong>career</h2>
<h3><%= @career.description %></h3>
  <div class="row">
        <% @professionals.each do |professional| %>

  <div class="col-xs-12 col-md-6 col-xl-4">
      <%= render "shared/professional_card",  professional: professional  %>
  </div>

    <% end %>
  </div>
</div>
