<div class="container-fluid main-header-title">
  <h1 class="category-title">
    <i class="fas fa-users"></i>

    <%= @career.title %> </h1>
    <h3 class="category-description"><%= @career.description %></h3>

  </div>


  <div class="container text-center">
    <h1 class="career-list-title">Our Professionals</h1>


  </div><div class="container">
    <div class="row">
      <% @professionals.each do |professional| %>
      <div class="col-xs-12 col-md-6 col-xl-4">
        <%= render "shared/professional_card",  professional: professional  %>
      </div>
      <% end %>
    </div>
  </div>

</div>


<div class="container-fluid main-foot-title">
  <h3 class="foot-title">THE PATH TO RESPONSIBILITY IS USUALLY UPHILL - ALONG A GRADE. TO WALK IT REQUIRES PERSONAL CHARACTER AND STRUGGLE</h3>


  <div class="d-flex main-foot-buttons mt-5">
    <a href="/">
    <button class="btn">Back to home</button>
    </a>


  <a href="donations/new">
    <button class="btn">Make a donation</button>
  </a>
  </div>
</div>
