<%= link_to career_path(career), class:"career-description-connection" do %>


<div class="card-search-career">
  <%= image_tag career.image, class:"search-img" %>
  <div class="card-search-infos">
    <div class="career-cardss">

     <div class="career-description-search">
      <div class="career-search-header">
            <h4>Career</h4>

        <h2><%= career.title %></h2>
        <p><%= career.description.truncate(100) %></p>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>
