<div class="card-search">
  <%= image_tag career.image, class:"search-img" %>
  <div class="card-search-infos">
    <%= link_to career_path(career), class:"career-description-connection" do %>
      <div class="career-card">

       <div class="career-description">
          <div class="career-search-header">
            <h2><%= career.title %></h2>
            <p><%= career.description.truncate(100) %></p>
          </div>
        </div>
      </div>
  </div>
</div>
<% end %>
