<div class="footer-title text-center"> DISCOVER   YOUR   CAREER   PATH</div>
<div class="footer">
  <div class="footer-services">
    <h2>Get Involved</h2>
    <a href="#"><i class="far fa-handshake"></i><%= link_to "Engage", new_donation_path %></a>
  </div>
    <div class="footer-follow">
      <h2>Follow us</h2>
      <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="footer-contact">
      <h2>Contact us</h2>
      <a href="#"><i class="fas fa-envelope"></i>shadow@me.com</a><br>
      <a href="#"><i class="fas fa-globe-americas"></i>Buenos Aires, Argentina</a>
    </div>
  </div>
