<div class="footer">
<div class="footer-items">
  <div class="footer-services">
    <h2>Get Involved</h2>
    <a href="/donations/new"><i class="far fa-handshake"></i><%= link_to "Engage", new_donation_path %></a>
  </div>


    <div class="footer-follow">
      <h2>Follow us</h2>

<div class="social-links">
<a href="https://www.facebook.com/CSSTricks/" class="social-link-facebook">
<strong>Facebook</strong>
<span>@shadowMe</span>
</a>
<a href="https://twitter.com/css" class="social-link-twitter">
<strong>Twitter</strong>
<span>@shadowMe</span>
</a>
<a href="https://www.youtube.com/user/realcsstricks" class="social-link-youtube">
<strong>YouTube</strong>
<span>@shadowMe</span>
</a>
<a href="https://spectrum.chat/css-tricks" class="social-link-spectrum">
<strong>Spectrum</strong>
<span>@shadowMe</span>
</a>
<a href="https://css-tricks.com/feed/" class="social-link-rss">
<strong>RSS</strong>
<span>@shadowMe</span>
</a>
</div>

    </div>


    <div class="footer-contact">
      <h2>Contact us</h2>
      <a href="#"><i class="fas fa-envelope"></i>shadow@me.com</a><br>
      <a href="#"><i class="fas fa-globe-americas"></i>Buenos Aires, Argentina</a>
    </div>

</div>




  </div>
