<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-block w-100">
        <div class="d-flex">
          <div>
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut commodi expedita architecto veniam vel quo officia aliquid! Exercitationem aut, officiis! In pariatur consequuntur animi eum perferendis, nostrum iste minima mollitia.</p>
          </div>
          <div>
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut commodi expedita architecto veniam vel quo officia aliquid! Exercitationem aut, officiis! In pariatur consequuntur animi eum perferendis, nostrum iste minima mollitia.</p>
          </div>
          <div>
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut commodi expedita architecto veniam vel quo officia aliquid! Exercitationem aut, officiis! In pariatur consequuntur animi eum perferendis, nostrum iste minima mollitia.</p>
          </div>
        </div>

      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block w-100">
        <div class="d-flex">
          <div>
            <img src="" alt="">
            <p>"I found my passion through shadowme." -Jessica</p>
          </div>
          <div>
            <img src="" alt="">
            <p>"I enjoyed the opportunity to shadow Professionals." - Trevor.</p>
          </div>
          <div>
            <img src="" alt="">
            <p>I found a career without wasting so much time." - Peggy</p>
          </div>
        </div>

      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block w-100">
        <div class="d-flex">
          <div>
            <img src="" alt="">
            <p>"Glad I was able to shadow more than one Professional." - John</p>
          </div>
          <div>
            <img src="" alt="">
            <p>"Enjoyed my time with great Professionals." - Joey</p>
          </div>
          <div>
            <img src="" alt="">
            <p>"I like how they have a professional for every career." - Julia</p>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
