<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-block w-100">
        <div class="d-flex">
          <div>
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut commodi expedita architecto veniam vel quo officia aliquid! Exercitationem aut, officiis! In pariatur consequuntur animi eum perferendis, nostrum iste minima mollitia.</p>
          </div>
          <div>
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut commodi expedita architecto veniam vel quo officia aliquid! Exercitationem aut, officiis! In pariatur consequuntur animi eum perferendis, nostrum iste minima mollitia.</p>
          </div>
          <div>
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut commodi expedita architecto veniam vel quo officia aliquid! Exercitationem aut, officiis! In pariatur consequuntur animi eum perferendis, nostrum iste minima mollitia.</p>
          </div>
        </div>

      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block w-100">
        <div class="d-flex">
          <div>
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut commodi expedita architecto veniam vel quo officia aliquid! Exercitationem aut, officiis! In pariatur consequuntur animi eum perferendis, nostrum iste minima mollitia.</p>
          </div>
          <div>
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut commodi expedita architecto veniam vel quo officia aliquid! Exercitationem aut, officiis! In pariatur consequuntur animi eum perferendis, nostrum iste minima mollitia.</p>
          </div>
          <div>
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut commodi expedita architecto veniam vel quo officia aliquid! Exercitationem aut, officiis! In pariatur consequuntur animi eum perferendis, nostrum iste minima mollitia.</p>
          </div>
        </div>

      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block w-100">
        <div class="d-flex">
          <div>
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut commodi expedita architecto veniam vel quo officia aliquid! Exercitationem aut, officiis! In pariatur consequuntur animi eum perferendis, nostrum iste minima mollitia.</p>
          </div>
          <div>
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut commodi expedita architecto veniam vel quo officia aliquid! Exercitationem aut, officiis! In pariatur consequuntur animi eum perferendis, nostrum iste minima mollitia.</p>
          </div>
          <div>
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut commodi expedita architecto veniam vel quo officia aliquid! Exercitationem aut, officiis! In pariatur consequuntur animi eum perferendis, nostrum iste minima mollitia.</p>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
