<div class="testimony-container">
  <h2>Read Our Testimonies</h2>
  <div id="testimony-carousel" class="carousel slide" data-ride="carousel">
    <div class="testimony-carousel carousel-item active">
      <div class="testimony-card1">
        <div class="testimony-gradient">
          <p>"I found my passion through shadowme." - Jessica</p>
        </div>
      </div>
      <div class="testimony-card2">
        <div class="testimony-gradient">
          <p>"I enjoyed the opportunity to shadow Professionals." - Trevor</p>
        </div>
      </div>
      <div class="testimony-card3">
        <div class="testimony-gradient">
          <p>"Glad I was able to shadow more than one Professional." - John</p>
        </div>
      </div>
      <div class="testimony-card4">
        <div class="testimony-gradient">
          <p>"I highly recommend Shadowme to students who aren't sure what Career they want to pursue. " - Ashley</p>
        </div>
      </div>
    </div>
    <div class="testimony-carousel carousel-item">
     <div class="testimony-card5">
        <div class="testimony-gradient">
          <p>"I found my passion through shadowme" - Joey</p>
        </div>
      </div>
      <div class="testimony-card6">
        <div class="testimony-gradient">
          <p>"I found my passion through shadowme" - Julia</p>
        </div>
      </div>
      <div class="testimony-card7">
        <div class="testimony-gradient">
          <p>"I found my passion through shadowme" - Peggy</p>
        </div>
      </div>
      <div class="testimony-card8">
        <div class="testimony-gradient">
          <p>"I found my passion through shadowme" - James</p>
        </div>
      </div>
     </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
