<div class="banner-donations" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1522071901873-411886a10004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
</div>
<div class="form-donation">
  <h2>Donations</h2>

  <%= form_for @donation do |f| %>
    <div class="form-group">
      <%= f.label :amount, class: "form-label" %>
      <%= f.number_field :amount_cents,placeholder: "10", class: "form-control" %>
    </div>
    <%= f.submit "Donate", class: "btn btn-donation" %>
  <% end %>
</div>
