.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.alert-info {
  color: black;
  background-color: #e9ecef66;
}

.alert-warning {
  color: white;
  background-color: #ff000096;
  border-color: transparent;
}

