.carousel-item {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.banner {
  background-size: cover;
  background-position: cover;
  object-fit: cover;
  object-position: bottom;
  height: calc(100vh + 60px);
  text-align: center;

}

.carousel-item {
 -webkit-filter: grayscale(100%);
 filter: grayscale(100%);
 img {
  height: calc(100vh + 60px);
  object-fit: cover;
  width: 100vw;
}
}

.banner-carousel {
  @extend .carousel;
}

.banner-carousel-height {
  height: calc(100vh + 60px) !important;
}


.banner-word {
  color: #fe525b;

}

.banner-container h1  {
  box-shadow: none !important;
}

.banner-container {
  text-align: center;
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 100%;
  height: calc(100vh + 60px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
  h1 {
    margin: 0;
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-size: 4.5rem;
    font-family: 'Poppins', sans-serif;
  }
  p {
    font-size: 48px;
    color: white;
    opacity: 0.9;
    font-family: 'Verdana', sans-serif;
    letter-spacing: 0.03rem;
  }

  a:hover {
    text-decoration: none !important;
    color: white;
background-image: linear-gradient(rgba(228,73,81, 1), rgba(203,65,72, 1));
  transition: 0.5s ease;
}
}

.carousel {
  z-index: 50 !important;
}
.shadow {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
  box-shadow: none !important;

}
