.category-container {
  width: 100%;
  margin: 100px auto;
}
.career-card {
  display: flex;
  height: 200px;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  img{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.career-card:hover {
  -webkit-transform: scale(1.025);
  -ms-transform: scale(1.025);
  transform: scale(1.025);
  transition: 0.5s ease;
  background-color: #ffd9d961;

  .salary-color {
    color: gray;
  }
}

.career-img {
  flex-grow: 0;
  height: 100%;
  width: 140px;
  object-fit: cover;
}

.review-title {
  justify-content: center;
  text-align: center;
}

.career-description {
  padding: 15px 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
  }
  p {
    width: 320px;
    word-wrap: break-word;
    margin: 0;
    font-size: 12px;
    color: rgba(0,0,0,0.8);
    text-align: justify;
  }
}

.career-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.career-icon i {
  color: black;
  opacity: 1;
  text-decoration: none;
  font-size: 15px;
  padding-right: 5px;
}

.career-tags {
  margin-top: 5px;
  margin-bottom: 10px;
  span {
    background-color: #f64747;
    padding: 3px 15px;
    border-radius: 4px;
    font-size: 10px;
    color: white;
  }
}

.career-description-connection {
  text-decoration: none;
  color: rgba(0,0,0,0.8);
  color: white;
  margin-top: 100px;
}


.career-description-connection:hover {
  text-decoration: none;
  color: black;

}

.career-card-title{
  color: black;
}

.main-header-cat-cards {
  text-align: center;
  margin-top: 60px;
  padding-bottom: 50px;
  margin-bottom: 40px;
}

.main-header-title {
  text-align: center;
  margin-top: 60px;
  padding-bottom: 50px;
  margin-bottom: 40px;
  background-color: #f64747;
  h3 {
    font-family: 'Raleway', sans-serif;
    color: white;
  }
}


.main-foot-title {
  text-align: center;
  margin-top: 60px;
  padding-bottom: 50px;
  margin-bottom: 40px;
  h3 {
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 21px;
    letter-spacing: 0px;
    text-transform: none;
    font-family: proxima-nova;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.2em;
  }
   h4 {
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 350;
    font-size: 21px;
    letter-spacing: 0px;
    text-transform: none;
    font-family: proxima-nova;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.2em;
    color: #f64747;
  }
  margin-bottom: 100px;
}

.main-foot-buttons {
  justify-content: space-around;
  a{
    text-decoration: none;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: black !important;
    border: 1.5px solid #f64747;
    border-radius: 20px;
  }
}


.main-foot-buttons a:hover {
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #f64747 !important;
    border: 1.5px solid #f64747;
      -webkit-transform: scale(1.025);
  -ms-transform: scale(1.025);
  transition: 0.5s ease;
    border-radius: 20px;
    text-decoration: none;
}


.category-title {
  border-bottom: lightgray 2px solid;
  padding: 20px 50px 0 50px;
  margin-bottom: 10px;
  display: inline-block;
  color: #FFF !important;
  font-family: 'Raleway', sans-serif;

  margin-top: 20px;

  h1 {
    font-size: 3.5em;
    font-weight: 200;
  }
}
.foot-title {
  border-bottom: lightgray 2px solid;
  padding: 20px 50px 0 50px;
  margin-bottom: 10px;
  display: inline-block;
  color: #f64747 !important;
  font-family: 'Raleway', sans-serif;

  margin-top: 20px;

  h1 {
    font-size: 3.5em;
    font-weight: 200;
  }
}

.salary-color {
  color: gray;
}


