.testimony-gradient {
  background-image: linear-gradient(rgba(40, 40, 40, 0.3), rgba(40, 40, 40, 0.1));
  width: 300px;
  height: 400px;
  text-align: center;

  & p {
    position: absolute;
    bottom: 5px;
    font-size: 25px !important;
    font-weight: 400 !important;
    color: white !important;
  }
}

.testimony-card1 {
  position: absolute;
  width: 300px;
  height: 400px;
  margin-right: 50px;
  background-position: 40% 20%;
  background-image: image_url("andy-lee-OjvZ_2vSruk-unsplash.jpg");
  background-size: cover;
}

.testimony-card2 {
  position: absolute;
  width: 300px;
  height: 400px;
  margin-left: 400px;
  margin-right: 50px;
  background-position: 40% 40%;
  background-image: image_url("benjamin-parker-NohB3FJSY90-unsplash.jpg");
  background-size: cover;
}

.testimony-card3 {
  position: absolute;
  width: 300px;
  height: 400px;
  margin-left: 800px;
  margin-right: 50px;
  background-position: 40% 50%;
  background-image: image_url("charles-kVg2DQTAK7c-unsplash.jpg");
  background-size: cover;
}

.testimony-card4 {
  position: absolute;
  width: 300px;
  height: 400px;
  margin-left: 1200px;
  margin-right: 50px;
  background-position: 40% 50%;
  background-image: image_url("dominic-blignaut-Wwir9Xis204-unsplash.jpg");
  background-size: cover;
}

.testimony-card5 {
  position: absolute;
  width: 300px;
  height: 400px;
  margin-right: 50px;
  background-image: image_url("hiep-duong-GtbEnMvoQ4M-unsplash.jpg");
  background-size: cover;
}

.testimony-card6 {
  position: absolute;
  width: 300px;
  height: 400px;
  margin-left: 400px;
  margin-right: 50px;
  background-image: image_url("luis-villasmil-6qf1uljGpU4-unsplash.jpg");
  background-size: cover;
}

.testimony-card7 {
  position: absolute;
  width: 300px;
  height: 400px;
  margin-left: 800px;
  margin-right: 50px;
  background-position: 40% 50%;
  background-image: image_url("max-ilienerwise-1mfJelUoTPQ-unsplash.jpg");
  background-size: cover;
}

.testimony-card8 {
  position: absolute;
  width: 300px;
  height: 400px;
  margin-left: 1200px;
  margin-right: 50px;
  background-image: image_url("nicolas-horn-MTZTGvDsHFY-unsplash.jpg");
  background-size: cover;
}

.testimony-img {

}

.testimony-content {

}

.testimony-carousel {
  transition: transform 3s ease, opacity 0s ease-out !important;
}

.testimony-carousel2 {
  background-color: orange;

}

.testimony-carousel3 {
  background-color: yellow;

}


// CARDS OF CATEGORY

.category-card {
  background-position: 40% 20%;
  background-size: cover;
  height: 400px;
  justify-content: center;
  display: flex;
  align-items: flex-end;
  text-align: center;
  p {
    font-size: 40px;
    font-weight: 400;
    color: white;
  }
}

.home-title {
  margin-bottom: 0px !important;
  padding-bottom: 50px !important;
  font-size: 50px !important;
}

