.no-hover {
  &:hover {
    text-decoration: none;
  }
}
.category-row {
  margin: 20px 0;
}

.category-p {
    line-height: 0.8em;

}

// CARDS OF CATEGORY

.category-card {
  background-position: 40% 20%;
  background-size: cover;
  height: 400px;
  justify-content: center;
  display: flex;
  align-items: flex-end;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0 15px rgba(6, 6, 6, 0.56);
  border-radius: 5px;

  // margin-top: 10px;
  // margin-bottom: 10px;
  p {
    font-size: 30px;
    font-weight: 400;
    color: white;
    text-align: center;
  }
}

.home-title {
  margin-bottom: 30px !important;
  padding-bottom: 30px !important;
  font-size: 50px !important;
  padding-top: 30px;
}

//Career Categories
// .category-title {
//   font-weight: bold;
//   text-align: center;
//   font-size: 50px;
//   font-family: 'Poppins', sans-serif;
//   letter-spacing: 2px;
//   margin: 15px;
//   margin-bottom: 50px;
// }

.category-description{
  font-size: 18px;
  text-align: center;
  color: rgba(0,0,0,0.8);
  margin: 0 100px;
  margin-top: 20px;
}


.category-card:hover {
  -webkit-transform: scale(1.025);
  -ms-transform: scale(1.025);
  transition: 0.5s ease;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('');
  -webkit-filter: grayscale(65%);
  filter: grayscale(65%);

  background-position: 50% 30%;
  background-size: cover;
  height: 400px;
}
.category-card-title{
  font-weight: bolder;
}
.row-spacing {
  padding-bottom: 100px;
  margin-bottom: 50px;
}
