.about-us-container {
  margin-top: 100px;

  & h2 {
    font-size: 50px !important;
    margin-bottom: 50px !important;
    border-bottom: 3px solid !important;
  }
}

.about-us-img {
  background-position: 40% 10%;
  width: 600px;
  height: 600px;
  margin-left: 100px;
  border-radius: 10px;
  height: 345px;
}

.about-us-holder {
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-us-content {
  width: 850px;
  margin-right: 100px;
  align-items: center;
  text-align: left;
  line-height: 3em;

  & p {
    font-size: 30px !important;
  }
}

.categories-wrapper {
  margin-left: 100px;
  margin-right: 100px;

  & h2 {
    margin-bottom: 0px !important;
    padding-bottom: 50px !important;
    font-size: 50px !important;
  }
}

.categories-container {
  display: flex;
  justify-content: space-between;
}

.test-color {
  background-color: #C3AC96;
}

.reviews-wrapper {
  background-color: #fe525b;
  padding: 30px;
}




