.footer {
  background: white;
  height: 20vh;
  padding-left: 25px;
  padding-right: 25px;
  border-top: 10px solid #f64747;
  border-left: 10px solid #f64747;
  border-right: 10px solid #f64747;

}

.footer-services a :hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  display: inline-block;
}
.footer-items{
  margin-top: 10px;
  display: flex;

  justify-content: space-between;
}
.footer h2 {
  color: #f64747;
  font-weight: bold;
  font-size: 25px;
}
.footer a {
  color: #f64747;
  text-decoration: none;
  font-size: 22px;
}

.footer-services i {
  color: #13110F;
  opacity: 1;
  text-decoration: none;
  font-size: 26px;
  padding: 7px;
}
.footer-services a {
  color: #13110F;
  opacity: 1;
  text-decoration: none;
  font-size: 26px;
  padding: 7px;
}

.footer-links {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.footer-links {
  a {
    color: #f64747;
    opacity: 1;
    text-decoration: none;
    font-size: 27px;
  }
  &:hover{
    opacity: 0.15;
  }
  i {
    padding: 7px;
  }
}
.footer-services{
  text-align: center;
  a {
    color: #f64747;
    opacity: 1;
    text-decoration: none;
    font-size: 16px;
  }
  i {
    color: #7a7a8c;
  }
}
.footer-follow{
  text-align: center;
  a {
    color: #13110F;
    opacity: 1;
    text-decoration: none;
    font-size: 21px;
  }
}


.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contact{
  text-align: center;
  a {
    color: #f64747;
    opacity: 1;
    font-style: italic;
    text-decoration: none;
    font-size: 16px;
  }
  i {
    color: #7a7a8c;
    opacity: 1;
    text-decoration: none;
    font-size: 21px;
    padding-right: 5px;
  }
}
.footer-links a:hover {
  opacity: 0.15;
}
.social-links {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.social-links>a {
 margin-left: 13px;
 position: relative;
 -webkit-transition: .2s;
 transition: .2s;
 color: #7a7a8c;
 position: relative;

}
.social-links>a strong {
  background: -webkit-gradient(linear,left top,right top,from(#ff8a00),to(#da1b60));
  background: linear-gradient(to right,#fe525b,#da1b60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  display: block;
}
.footer-contact a :hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  :hover{
    display: inline-block;
  }
}


.footer-st #button-st{
  width: 100%;
  height: 100px;
  margin:0 auto;
  position:relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.footer-st #button-st:hover{
  width: 35px;
  height: 35px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
}

.footer-st {
  bottom:0;
  left:0;
  position:fixed;
  width: 100%;
  height: 1.5em;
  overflow:hidden;
  margin:0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  z-index:999;
}
.footer-st:hover {
  transition: all 1s ease;
  height: 11em;
  .arrow-up {
    transition: 1s ease;
    color: transparent;
  }
}
.footer-st #container-st{
  margin-top: 5px;
  width: 100%;
  height: 80px;
  position: relative;
  top: 0;
  left: 0;
  background: #f64747;
}
.footer-st #cont-st{
  position: relative;
  top: -90px;
  width: 80%;
  background-color: white;
  height: auto;
  margin: 0 auto;
}
.footer_center-st {
  width: 100%;
  float: left;
  text-align: center;
  background-color: white;
}


.arrow-up {
  font-weight: bolder;
  font-size: 40px;
  color: #f64747;
  justify-content: center;
}
