.footer {
  background: #800020;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 10px 50px;
  color: rgba(0,0,0,0.3);
  height: 100px;
}

.footer-title {
  background: black;
  height: 35px;
  display: flex;
  word-spacing: 30px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  padding-bottom: 6px;
  padding-top: 6px;
}


.footer h2 {
  color: black;
  font-weight: bold;
  font-size: 13px;
}
  .footer a {
    color: #3E3E3E;
    text-decoration: none;
    font-size: 20px;
}

.footer-services i {
  color: black;
  opacity: 1;
  text-decoration: none;
  font-size: 21px;
  padding: 7px;
}
.footer-services a {
  color: black;
  opacity: 1;
  text-decoration: none;
  font-size: 21px;
  padding: 7px;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links {
  a {
  color: black;
  opacity: 1;
  text-decoration: none;
  font-size: 22px;
}
&:hover{
  opacity: 0.15;
}
i {
  padding: 7px;
}
}


.footer-contact{
  text-align: center;
   a {
  color: black;
  opacity: 1;
  text-decoration: none;
  font-size: 16px;
}
i {
  color: black;
  opacity: 1;
  text-decoration: none;
  font-size: 16px;
  padding-right: 5px;
}
}
.footer-links a:hover {
  opacity: 0.15;
}
