

.container-letter {
  background-color: lightgray;
  width: 570px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 75px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
  margin-top: 100px;
}

.signature {
  font-family: 'Satisfy', cursive;
}

.request-sent {

 text-align: left;
 h1 {
  padding-bottom: 20px;
  font-size: 25px;
  border-bottom: 1px solid lightgray;
 text-align: center;
 margin-bottom: 30px;

 }

}

.under {
  border-top: 1px solid lightgray;
  padding-top: 30px;
  margin-top: 10px;
  padding-bottom: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
}


.pro-img {
 background-image: url('two.jpg');
 background-size: cover;
 background-position: cover;
 object-fit: cover;
 object-position: bottom;
 width: 100%;
 background-position: center;
 height: 250px;
 color: white;
  font-weight: bold;
background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('two.jpg');


}



.buttons {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.req-content {
  margin-top: 30px;
  h1  {
    color: #fe525b;
}
}
.banner-words {
  color: #fe525b;

  font-size: 30px;


}

.sec-row {
  font-size: 20px;

}

.word-fix {
  margin-top: 100px;
}
