

.container-letter {
  background-color: white;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  }

.signature {
font-family: 'Satisfy', cursive;
}

.request-sent {
 border-bottom: 1px solid black;
 text-align: center;
}

.under {
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}


.pro-img {
 height: 10px;
}
