.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.2s background-color ease;
  padding: 40px 30px;
}

.navbar-lewagon-white {
  background-color: #232323;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-text {
  p {}
}
.home-navbar-style {
  height: 60px;
  a {
    color: white !important;
    font-weight: bold;
  }
  a:hover {
    color: blue !important;
  }
}

.dropdown-menu-right{
  background-color: white;
  border: none;
  text-align: center;
  right: -30px;
  a:hover {
    font-weight: bold;
  }
}

.avatar {
  margin: 0px 30px;
}

.nav-item  {
  margin: 10px;
  text-decoration: none;
  color: white;
}

.dropdown-item {
  box-sizing: none;
}

.dropdown-item:hover {
  background-color: transparent;
}

