.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.2s background-color ease;
  padding: 35px 30px;
}

.log-out {
 border-style: solid;
 border-radius: 15px;
 border-width: 1px;
 border-color: #fe525b;
}

.nav-btn {
}

.log{
  filter: invert(99%);

}


.navbar-lewagon-white {
  background: #333 !important;
  padding: 35px 30px;

}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-text {
  p {}
}
.home-navbar-style {
  height: 60px;
  a {
    color: white !important;
    font-weight: bold;
  }
  a:hover {
    color: blue !important;
  }
}

.dropdown-menu-right{
  background-color: white;
  border: none;
  text-align: center;
  right: -30px;
  a:hover {
    font-weight: bold;
  }
}

.avatar {
  margin: 0px 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 2px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

.nav-item  {
  margin: 10px;
  text-decoration: none;
  color: white;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.5);

}

.dropdown-item {
  box-sizing: none;
}


.nav-link:hover {
  text-decoration: none;
  background-color: transparent;
  color: white;
  transition: 0.05s;
  transform: scale(1.025)
}

.nav-item > a:hover {
  text-decoration: none;
  color: white !important;
}
.nav-link:link {
  text-decoration: none;
  background-color: transparent;
  color: white;

}


.white-navbar {
  background: #333 !important;

  justify-content: space-between;
  background-color: transparent;
  transition: 0.2s background-color ease;
  padding: 35px 30px;
  a {
    color: white !important;
  }

}
.logo-n-phrase{
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
  :hover{
    transition: all .01s ease;
    transform: scale(1.025);
  }
}

.logo-phrase{
  font-family: 'Satisfy', cursive;
  color:white !important;
  font-size: 20px;
  margin-top: 10px;


}
