
.professional_card{
  background-color: white;
  height: auto;
  width: 350px;
  margin: 25px auto;
  border-radius: 25px;
  padding-bottom: 1px;
  box-shadow: 2px 2px 5px #2524243d;
  transition: 1s ease;
  padding-bottom: 15px;
  min-height: 510px;
  margin-top: 100px;
}

.career-list-title{
    color: #333;
    font-weight: bold;

}


.professional_card:hover{
  transition: 0.25s ease;
  -webkit-transform: scale(1.03);
  -transform: scale(1.03);
  border: 2px solid gray;
}

.golden-stars{
  color:#FFD700;
}
.pro_job {

  h2 {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    font-weight: 600;
  }
}

.job_details {

  p {
    color: black;
    text-align: center;
  }
}

.pro-banner {
  height: 100px;
  border-radius: 24px 24px 0px 0px;
  opacity: 0.9;
}

.pro_photo {
  display: block;
  position: relative;
  background-color: #E6EBEE;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-top: -75px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow:  2px 2px 5px #252424;
}

.company_logo {

  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 5px;

     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: rgba(69, 64, 64, 0.32) 1px solid;


}

.logo-wrapper{
  width: 100px;
  margin: 0 auto;
}

.pro_separation-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pro_separation {
  width: 250px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}


.pro_details{
  margin-left: 22px;
}

.pro_expertise {
  span {
    font-weight: 550;
  }
}

.reviews_title {
  font-weight: 550;
  font-size: 12px;
}

.review_avatar {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  margin: 5px 5px;
}

.text_review {
  font-size: 11px;
  width: 250px;
  border-left: 1px solid lightgrey;
  padding-left: 1em;
}

.pro_tags {
  margin-top: 5px;
  margin-bottom: 10px;
  span {
    background-color: #f64747;
    padding: 3px 15px;
    border-radius: 4px;
    font-size: 10px;
    color: white;
  }
}

.pro_review {
}

.form-description-container {
  background-image: image_url("pro_calendar.jpeg");
  padding-top:4%;
  font-family: 'Poppins', sans-serif;
  h1{
    color: rgba(255,255,255,0.9);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  background-image: image_url("pro_calendar.jpeg");
  background-size: cover;
  background-position: center;
}


.pro-profile {
  background-color: #383535bf;
  padding-top: 30px;
  padding-left: 30px;
  height: 502px;
  border-radius: 8px;
  color: white;
  overflow-y: scroll;
}



.stars-with-date {
 display: flex;
 justify-content: space-between;
}

.stars {
  text-align: right;
}

.review-format {
  & p {
    margin-bottom: 10px !important;
    line-height: 1em !important;
  }
}

.review {
  width: 90%;
  padding-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.button-cluster {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px !important;
  margin-top: 50px !important;
  margin: auto;
  width: 100%;


  & a {
    color: black !important;
  }

  & a:hover {
    text-decoration: none !important;
    color: white !important;
  }
}

.professional-description {
  margin-top: 50px !important;
}

.review-description {
  width: 74%;
  margin-top: 30px;
  margin-bottom: 60px;
}

.pro-row {
  margin-bottom: 0px !important;
}

.pro-title {
  margin-top: 50px !important;
}

.pro-name {
  padding-left: 0px !important;
}




// .container-back-img{
// background-image: url("https://images.unsplash.com/photo-1482398650355-d4c6462afa0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
// width: 100%;
// margin: 0 auto;
// background-size: cover;


// }
