<div class="container">
<h2 class="category-title">Career Categories</h2>
<h3 class=""><%= @category.description %></h3>

  <div class="row">
  <% @careers.each do |career| %>
  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
    <%= render "career_card",  career: career  %>
  </div>
  <% end %>
</div></div>
